<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ header_data['title'] }}</title>
  {% for item in header_data['meta'] %}
  <meta {{ item|xmlattr }}>
  {% endfor %}
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link rel="stylesheet" href="https://fonts.bunny.net/css?family=fira-code:400|fira-sans:100,300,400,700">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/bender.css">
  {% for item in header_data['icons'] %}
  <link {{ item|xmlattr }}>
  {% endfor %}
</head>

<body>
  <div id="stuff">
    <header>
      <div class="section">
        <img class="profile" src="/static/images/geidel_profile.jpg" alt="Geidel Guerra">
      </div>
      <a class="download-cv" target="_blank" rel="noopener noreferrer" href="/static/files/geidelguerra_cv_en.pdf">Download CV PDF</a>
    </header>
    {% block body %}{% endblock %}
    <footer>
      <section id="networks" class="section">
        <h3>Where to find me</h3>
        <ul>
          {% for network in footer_data.networks %}
          <li>
            <a target="_blank" rel="noopener noreferrer" href="{{ network.url }}">{{ network.label }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </footer>
  </div>
  <div id="bender">
    <div class="left_eye"></div>
    <div class="right_eye"></div>
    <img src="/static/images/bender_eye_tracking.png">
  </div>
  <img id="ship" src="/static/images/ship.png">
  <script src="/static/js/app.js"></script>
  <script src="/static/js/bender.js"></script>
</body>

</html>