{% extends 'layouts/base.html' %} {% block body %}
<header class="container">
    {% include 'partials/navmenu.html' %}
</header>
<main>
    {% block main %}{% endblock %}
</main>
<footer class="container">
    <section id="networks" class="section">
        <h3>Where to find me</h3>
        <ul>
            {% for network in footer_data.networks %}
            <li>
                <a target="_blank" rel="noopener noreferrer" href="{{ network.url }}">{{ network.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</footer>
{% endblock %}
